$nav-pills-link-active-bg: #BB9BB0;
$nav-pills-link-active-color: #25023B;
$list-group-bg: #F1E3E4;
$list-group-color: #25023B;
$body-bg: #BB9BB0;
$body-color: #25023B;

@import '~bootstrap/scss/bootstrap.scss'

