/* Universal Section Styling */
body {
    position: relative;
    min-height: 100vh;
}

#root {
    padding-bottom: 140px;
}

.section h1 {
    text-align: center;
    margin: 25px 0px;
}

/* About Section Styling */

.aboutPage img {
    margin: 25px;
    box-shadow: 10px 10px 10px black;
}

.aboutPage p {
    padding: 25px;
    margin: 25px;
    font-size: 20px;
}